services:
    tests-ui:
      init: true
      image: ghcr.io/wisetrout/playwright-ui:latest
      ports:
        - ${TESTS_MENU_PORT:-3000}:3000
        - ${TESTS_RESULTS_PORT:-9323}:9323
      environment:
        - TESTS_MENU_PORT
        - TESTS_RESULTS_PORT
      security_opt:
        - seccomp=seccomp_profile.json
      volumes:
        - type: bind
          source: ./hooks
          target: /app/hooks
        - type: bind
          source: ./tests
          target: /app/tests
        - type: bind
          source: ./metadata
          target: /app/metadata
        - type: bind
          target: /app/settings