services:
  pw-ui:
    init: true
    ipc: host
    # command: tail /dev/null -f
    build:
      # args:
      #   INSTALL_CHROME: 0
      context: .
      labels:
        org.opencontainers.image.source: https://github.com/wisetrout/playwright-ui
        org.opencontainers.image.description: "Playwright UI"
        org.opencontainers.image.licenses: MIT
      tags:
        - "0.3"
        - "latest"
    ports: 
      - ${TESTS_MENU_PORT:-3000}:3000
      - ${TESTS_RESULTS_PORT:-9323}:9323
    environment:
      - USERNAME
      - HASHED_PASSWORD
      - SESSION_SECRET
      - SESSION_COOKIE_MAX_AGE
      - TESTS_MENU_PORT
      - TESTS_RESULTS_PORT
    security_opt:
      - seccomp=seccomp_profile.json
    volumes:
      - type: bind
        source: ./app.js
        target: /app/app.js
      - type: bind
        source: ./tests
        target: /app/tests
      - type: bind
        source: ./public
        target: /app/public
      - type: bind
        source: ./metadata
        target: /app/metadata
      - type: bind
        source: ./helpers
        target: /app/helpers
      - type: bind
        source: ./playwright.config.js
        target: /app/playwright.config.js
      - type: bind
        source: ./package.json
        target: /app/package.json
      - type: bind
        source: ./package-lock.json
        target: /app/package-lock.json
      - type: bind
        source: ./test-settings.json
        target: /app/test-settings.json
      - type: bind
        source: ./default-test-settings.json
        target: /app/default-test-settings.json
      - type: bind
        source: ./ui-lib
        target: /app/ui-lib
      - type: bind
        source: ./hooks
        target: /app/hooks
      - type: bind
        source: ./models
        target: /app/models
      - type: bind
        source: ./controllers
        target: /app/controllers
      - type: bind
        source: ./views
        target: /app/views
      - type: bind
        source: ./routes
        target: /app/routes
      - type: bind
        source: ./settings
        target: /app/settings
      - type: bind
        source: ./password.txt
        target: /app/password.txt
      - type: bind
        source: ./testing-packages
        target: /app/testing-packages
      - type: bind
        source: ./node_modules
        target: /app/node_modules