services:
  pw-ui:
    init: true
    ipc: host
    build:
      context: .
      labels:
        org.opencontainers.image.source: https://github.com/wisetrout/playwright-ui
        org.opencontainers.image.description: "Playwright UI"
        org.opencontainers.image.licenses: MIT
    #command: tail -f /dev/null
    ports:
      - ${TESTS_MENU_PORT:-3000}:3000
      - ${TESTS_RESULTS_PORT:-9323}:9323
    environment:
      - USERNAME
      - HASHED_PASSWORD
      - SESSION_SECRET
      - SESSION_COOKIE_MAX_AGE
      - TESTS_MENU_PORT
      - TESTS_RESULTS_PORT
    security_opt:
      - seccomp=seccomp_profile.json
#    volumes:
#      - .:/app
      # Expose the library to the host for IDE indexing (Read-Only)
#      - ./ui-lib:/app/ui-lib:ro
#      - /app/node_modules
      # 3. Persist node_modules inside the container
#      - pw_ui_node_modules:/app/node_modules
#      Create empty file password.txt and uncomment the following lines to use authorization.
#      To reset the password, empty the contents of existing password.txt
#      - type: bind
#        source: ./password.txt
#        target: /app/password.txt
#volumes:
#  pw_ui_node_modules: