<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

    {{{body}}}

    <footer>
        <menu>
            <li>
                © <a href="https://wisetrout.com">Wisetrout.com</a>
            </li>
            <li>
                <a href="https://github.com/WiseTrout/playwright-ui">
                    This project on Github
                </a>
            </li>
        </menu>
        
    </footer>
</body>
</html>