<h1> Login </h1>
<form action="/login" method="post">
    <h3>Username</h3>
    <input type="text" aria-label="username" name="username" required>
    <br>
    <h3>Password</h3>
    <input type="password" aria-label="password" name="password" required>
    <br>
    <br>
    <button>Submit</button>
</form>