<h1> Set password </h1>
<form action="/set-password" method="post">
    <h3>Password</h3>
    <input type="password" aria-label="password" name="password" required>
    <br>
    <br>
    <input type="hidden" value="{{csrfToken}}" name="csrfToken">
    <button>Submit</button>
</form>