<h1>Tests running...</h1>
<button disabled onclick="window.location.href = 'http://localhost:{{menuPort}}'"> Run new tests</button>
<br>
<button disabled onclick="window.location.href = 'http://localhost:{{resultsPort}}'">View test results</button>
<br>
<button class="btn-danger" data-menu-port='{{menuPort}}'>Stop tests</button>

<h3>Symbols:</h3>
<ul>
    <li class="label--pending">
        pending
    </li>
    <li class="label--running">
        running
    </li>
    <li class="label--passed">
        passed
    </li>
    <li class="label--failed">
        failed
    </li>
</ul>

<div>

</div>

<script src="/js/tests-running.js" ></script>