<h1>Tests running...</h1>
<button disabled onclick="window.location.href = 'http://localhost:{{menuPort}}'"> Run new tests</button>
<br>
<button disabled onclick="window.location.href = 'http://localhost:{{resultsPort}}'">View test results</button>

<h3>Symbols:</h3>
<ul>
    <li class="label--pending">
        pending
    </li>
    <li class="label--running">
        running
    </li>
    <li class="label--passed">
        passed
    </li>
    <li class="label--failed">
        failed
    </li>
</ul>

<div id="tests-progress">

</div>

<script src="/js/tests-running.js" ></script>